section#clients.clients

	.title.title_bgc_orange Клиенты

	.clients-container

		.clients__row
			.clients__item.clients__item_type_mumu
			.clients__item.clients__item_type_wokker
			.clients__item.clients__item_type_ap
			.clients__item.clients__item_type_kp
			.clients__item.clients__item_type_qiwi
			.clients__item.clients__item_type_fb
			.clients__item.clients__item_type_fh
			.clients__item.clients__item_type_peugeot

		.clients__row.clients__row_interval_104
			.clients__item.clients__item_type_chocolate
			.clients__item.clients__item_type_star
			.clients__item.clients__item_type_zvooq
			.clients__item.clients__item_type_spartak
			.clients__item.clients__item_type_zirtek
			.clients__item.clients__item_type_infiniti
			.clients__item.clients__item_type_huggies
