footer.footer

	.footer__partner
		.footer__partner-text Сертифицированный партнёр
		.footer__logo
			.footer__yandex

		.footer__logo
			.footer__google

		.footer__logo
			.footer__vk

	.footer__copy
		a.footer__copy-logo(href=jv0) 24ttl
		.footer__copy-est
			span est.
			= " "
			span.footer__copy_font_reg 2007
		.footer__copy-law Все права защищены. Москва 2015
