section#keises.keises

	.title Кейсы

	.keises__slider.swiper-container

		.swiper-wrapper

			.swiper-slide
				.keises__slide
					include ../blocks/keises/wokker
					include ../blocks/keises/dillers
					include ../blocks/keises/internet
					include ../blocks/keises/azbuka

			.swiper-slide
				.keises__slide
					include ../blocks/keises/triobar
					include ../blocks/keises/timole
					include ../blocks/keises/spartak
					include ../blocks/keises/starlight

			.swiper-slide
				.keises__slide
					include ../blocks/keises/peugeot
					include ../blocks/keises/plastinina
					include ../blocks/keises/mumu
					include ../blocks/keises/cordzero

			.swiper-slide
				.keises__slide
					include ../blocks/keises/dusoleil
					include ../blocks/keises/exppage
					include ../blocks/keises/infiniti
					include ../blocks/keises/exppagetv

	.keises__pagination
