.keise.keise_color_red
	img.keise__img(src="assets/images/keises/cordzero.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_lg

	.keise__title
		| сайт для проекта-конкурса
		br
		| пылесосы Cord zero
