.keise.keise_color_orange
	img.keise__img(src="assets/images/keises/infiniti.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_infiniti

	.keise__title
		| Клуб поклонников
		br
		| Инфинити в Фейсбук
