extends ../layouts/default

block head
	- pageTitle = '24ttl';

block content
	include ../blocks/menu
	include ../blocks/service
	include ../blocks/clients
	include ../blocks/keises
	include ../blocks/tools
	include ../blocks/vacansies
	include ../blocks/map
